.color-palette {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 120px;
    height: 120px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: white;
    text-align: center;

    &:hover {
      transform: scale(1.2);
      z-index: 10;
    }

    &-color {
      font-family: Bellefair;
      padding: 10px;
      font-size: 16px;
    }

    &-name {
      font-family: Novar, "华文仿宋", serif;
      font-size: 12px;
    }
  }
}
