.color-palette {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 120px;
    height: 120px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: white;

    &-color {
      font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
      padding: 10px;
      font-size: 18px;
    }

    &-name {
      font-family: Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
      font-size: 16px;
    }
  }
}
